body{
    color: yellow;
    background-color: #000033;
    font-family: Courier New, monospace;
    line-height: 3.0;
    word-spacing: 1em

}
h1{
	color: yellow;
	font-size: 75px;
	font-family: Impact, fantasy;
	line-height: 0.01;
	border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: blue;
}
h2{
	color: yellow;
    font-family: Courier New, monospace;
    font-size: 25px;
    word-spacing: 1em
}
head{
	color: white;
	font-size: 35px;
	font-family: Impact, fantasy;
	line-height: 0.01;
}
